* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

@font-face {
    font-family: "nexa";
    src: url('font/Nexa Light.otf');
}

@font-face {
    font-family: "cinzel";
    src: url("font/Cinzel-Regular.otf");
}

@font-face {
    font-family: "Cinzel decorative";
    src: url("font/CinzelDecorative-Regular.otf");
}

header {
    background-color: transparent;
}

.logo {
    width: calc(500px);
    padding: 15px 0 15px 30px;
    font-size: 2.5em;
    color: #000000;
    font-family: cinzel;
    z-index: 1;
}

.logo span {
    color: #f2c22e;
    text-shadow: 0 0 10px #f4ce57;
    font-family: cinzel decorative;
}

.logo p {
    z-index: 3;
}

.nav {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 23px;
    display: inline-flex;
}

.nav a {
    color: #333333;
    text-decoration: none;
    font-size: 1.15em;
    padding: 9px 15px;
    font-family: "nexa";
    font-weight: 700;
    z-index: 2;
}

.nav a:last-child {
    color: #d9ae29;
}

.menu {
    position: absolute;
    right: 0;
    display: inline-flex;
    align-self: flex-end;
}

section:first-of-type img {
    height: 700px;
    z-index: -1;
}

section:first-of-type article {
    color: #ffffff;
    font-size: 2.5em;
    line-height: 45px;
}

section:first-of-type p {
    font-size: 3.5em;
    padding: 40px 0 0 0;
}

section:first-of-type {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.call div {
    color: #ffffff;
    top: 210px;
    margin: 0 0 0 600px;
    font-size: 1.5em;
    position: absolute;
}

.call {
    height: 250px;
    width: 1980px;
    top: 150px;
    left: 0;
    margin: 0 0 0 0;
    background-color: #f2c22e;
    position: absolute;
    display: inline-flex;
    box-sizing: border-box;
    font-family: nexa;
    z-index: -1;
}

.call article {
    margin: 0 0 0 600px;
}

.callFix {
    position: relative;
}

.button {
    position: absolute;
    top: 400px;
    left: 1120px;
}

.button:before {
    content: "";
    height: 0;
    width: 0;
    border-left: 40px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid #a98720;
    border-top: 0px solid transparent;
    position: absolute;
    left: -90px;
    top: 0px;
    z-index: -2;
    background-color: transparent;
}

aside {
    background-color: #d9ae29;
    height: 50px;
    width: 200px;
    text-indent: 15px;
    color: #ffffff;
    z-index: 5;
    font-family: nexa;
    font-size: 1.5em;
    padding: 10px 0 0 0;
    box-sizing: border-box;
}

.button a {
    text-decoration: none;
}

.button aside:hover {
    background-color: #d9ae29;
}

section.serv {
    width: 100%;
    height: 400px;
    position: relative;
    display: inline-block;
}

.subtitulo {
    font-size: 1.5em;
    margin: 30px 0 15px 0
}

.serv article:first-of-type {
    margin-left: 250px;
}

.serv article {
    width: 175px;
    height: 175px;
    display: inline-flex;
    position: relative;
    margin: 15px 0 0 75px;
}

.serv img {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    display: inline-flex;
    position: relative;
    filter: invert(100%);
}

.serv article:after {
    content: "";
    width: 95px;
    height: 95px;
    position: absolute;
    top: -10px;
    left: 42px;
    border-radius: 50%;
    background-color: #f2c22e;
    z-index: -1;
}

.serv article p {
    display: flex;
    position: absolute;
    top: 95px;
    text-align: center;
}

.footer {
    height: 350px;
    width: 100%;
    position: relative;
    background-color: #090909;
}

footer:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    width: 100%;
    background-image: url("footertx.jpg");
    background-position-y: 550px;
    background-position-x: 50%;
    filter: grayscale();
    z-index: 2;
    opacity: 0.1;
}

.fix {
    position: relative;
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.elemento {
    width: 295px;
    height: 350px;
    display: inline-flex;
    position: relative;
}

.elemento .titulo {
    color: #ffffff;
    font-family: "nexa";
    font-size: 1.75em;
    width: 295px;
    display: block;
    position: absolute;
    top: 20px;
}

.elemento .content {
    color: #ffffff;
    font-family: "nexa";
    font-size: 1em;
    width: 295px;
    display: block;
    position: absolute;
    top: 55px;
}

.serv {
    height: 100px;
    box-shadow: 0px 0px 10px -2px #000000;
    z-index: 3;
    font-family: nexa;
}

@media only screen and (max-width: 1450px) {
    .button {
        right: 0;
    }
}